{% extends '_base.html' %}
{% load staticfiles %}
{% block settingsbox %}
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block content %}

    <h2>Crear Cédula de Atención</h2>

    {% if paso == '1'  %}
        {% include 'template_cedula_paso1.html'%}

    {% elif paso == '2' %}

        {% include 'template_cedula_paso2.html'%}

    {% elif paso == '3' %}

        {% include 'template_cedula_paso3.html'%}

    {% endif %}

<br />
{%endblock%}

{% block inlinescripts %}
    <script src="{% static 'assets/js/funcionsica.js' %}"></script>
    <script src="{% static 'assets/js/curp.js' %}"></script>

    <script>

    $('#id_nombre, #id_primApellido, #id_segApellido, #id_sexo, #id_edonac, #id_fecNac').on('change',function(event){
        var fecnac = $('#id_fecNac').val();

        var curp = generaCurp({
          nombre            : $('#id_nombre').val(),
          apellido_paterno  : $('#id_primApellido').val(),
          apellido_materno  : $('#id_segApellido').val(),
          sexo              : $('#id_sexo').val(),
          estado            : $('#id_edonac').val(),
          fecha_nacimiento  : [ fecnac.substring(0,2), fecnac.substring(3,5), fecnac.substring(6,) ]
        });
    });

    </script>


{% endblock %}