<div class="row">

    <!-- Impresion de los datos del interesado-->
    <div class="col-sm-12 widget-container-col ui-sortable ">
        <div class="widget-box ui-sortable-handle collapsed">

            <div class="widget-header">
                <h4 class="widget-title"><strong>1. Datos del Interesado</strong>
                    </strong>
                </h4>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-down"></i>
                    </a>

                </div>
                <!-- /section:custom/widget-box.toolbar -->
            </div>
            <div class="widget-body">

                <div class="widget-main col-sm-12">

                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Nombre:<br /><strong style="color:black;">{{ datousuario.idDatos.nombre }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Primer Apellido:<br /><strong style="color:black;">{{ datousuario.idDatos.primApellido }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Segundo Apellido:<br /><strong style="color:black;">{{ datousuario.idDatos.segApellido }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Fecha de Nacimiento:<br /><strong style="color:black;">{{ datousuario.idDatos.fecNac }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Sexo:<br /><strong style="color:black;">{{ datousuario.idDatos.sexo }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Teléfono Local:<br /><strong style="color:black;">{{ datousuario.idContacto.telLocal }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Teléfono Celular.<br /><strong style="color:black;">{{ datousuario.idContacto.telCelular }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Correo Electrónico<br /><strong style="color:black;">{{ datousuario.idContacto.email }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Localidad: <br /><strong style="color:black;">{{ datousuario.iddomicilio.id_localidad }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Vialidad: <br /><strong style="color:black;">{{ datousuario.iddomicilio.vialidad }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Número Exterior:<br /><strong style="color:black;">{{ datousuario.iddomicilio.numExterior }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Número Interior:<br /><strong style="color:black;">{{ datousuario.iddomicilio.numInterior }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Código Postal:<br /><strong style="color:black;">{{ datousuario.iddomicilio.codpost }}</strong></p>
                <p class="col-sm-4 alert alert-warning alertsicamod" style="display: block-inline;">
                Referencia:<br /><strong style="color:black;">{{ datousuario.iddomicilio.referencia }}</strong></p>

                </div>

            </div>
        </div>
    </div>

    <!-- Impresion del formulario de la cedula -->
    <div class="col-sm-12 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">

        <form action="{% url 'crearcedula' paso='3' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="widget-header">
                <h4 class="widget-title"><strong>2. Datos de la cédula</strong>
                    </strong>
                </h4>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">
                    <button class="btn btn-info" type="submit" value="">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Enviar
                    </button>
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                </div>
                <!-- /section:custom/widget-box.toolbar -->
            </div>
            <div class="widget-body">

                {% include "cedulanueva.html" %}

            </div>

        </form>

        </div>
    </div>

</div>